body{
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    margin: 0;
}

input {
    margin-bottom: 10px;
    border: 2px solid rgb(210, 210, 210);
    border-radius: 4px;
    display: block;
    padding: 10px;
    font-size: 14px;
}

form {
    padding: 30px 40px;
}

#update-btn, #submit-btn {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    /* width: 100%; */
    text-decoration: none;
  }

  .error {
    color: rgb(255, 46, 46);
  }